   /* Basic styling for the page */
   body {
    font-family: 'Courier New';
    margin: 0;
    padding: 0;
    background-color: #e8deb5;
    width:100%;
}

.header {
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.line {
    width: 80%;
    height: 2px;
    background-color: #ddd;
    margin: 10px auto;
}

nav {
    text-align: center;
    padding: 10px;
    background-color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 90px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.2em;
    color: #fff;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}
nav ul li a:hover {
    background-color: #e8deb5;
    color: #333; 
    border-radius: 4px;
}



.book-news-section {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.news-title {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.news-card {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.news-card h3 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
}

.news-card p {
    color: #666;
    font-size: 0.9em;
}

.news-card a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.news-card a:hover {
    text-decoration: underline;
    background-color: grey;
    color:black;
    border-radius: 4px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px 0;
    bottom: 0;
    width: 100%;
  }
